* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    --vertical-line: linear-gradient(to right, white 49%, black 49% 51%, white 51%);
    --horizontal-line: linear-gradient(to bottom, white 49%, black 49% 51%, white 51%);
    --diagonal-backward-line: linear-gradient(to top right, white 49%, black 49% 51%, white 51%);
    --diagonal-forward-line: linear-gradient(to bottom right, white 49%, black 49% 51%, white 51%);
}

.outer-container {
    margin: 10px auto;
    width: fit-content;
    max-width: 500px;
    text-align: center;
    border: solid 1px black;
    box-shadow: 4px 4px 6px black;

    display: grid;
    grid-template-columns: 1fr 1fr;

    & button {
        padding: 5px;
        border-radius: 10px;
    }

    & .player {
        padding: 5px;

        display: grid;
        gap: 5px;
        
        & .player-name-container {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }

        & .marker {
            font-size: 4rem;
            font-weight: bold;
        }

    }

    & .player-one {
        background-color: lightblue;

    }

    & .player-two {
        background-color: lightcoral;
    }

    & .player-select {
        grid-column: span 2;
        justify-self: center;
        padding: 10px 15px;

        & fieldset {
            padding: 5px 10px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 0px 4px;
            border: none;
        }
    }

    & .start-game {
        grid-column: span 2;
        padding: 10px;
    }
    
    & .gameboard-container {
        margin: 0 auto;
        grid-column: span 2;

        & .gameboard {
            background-color: black;
            margin: 20px;
            max-width: fit-content;
        
            display: grid;
            grid: 100px 100px 100px / 100px 100px 100px;
            gap: 5px;
        
            & .spot {
                background-color: white;
                border: none;
                font-size: 4rem;
                font-weight: bold;
        
                &:hover {
                    background-color: lightgray;
                }

                &.horizontal-win {
                    background: var(--horizontal-line);
                }

                &.vertical-win {
                    background: var(--vertical-line);
                }

                &.diagonal-forward-win {
                    background: var(--diagonal-forward-line);
                }

                &.diagonal-backward-win {
                    background: var(--diagonal-backward-line);
                }
            }
        }
    }
}

