.outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .player-select {
        grid-column: span 2;
    }

    & .gameboard-container {
        grid-column: span 2;

        & .gameboard {
            background-color: black;
        
            display: grid;
            grid: 100px 100px 100px / 100px 100px 100px;
            gap: 5px;
        
            & .spot {
                background-color: white;
        
                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}

